/*standard class can be used across all sections*/
:root {
  --pri-color: rgb(72, 190, 64);
  --my-padding: 10px;
}

audio,
video {
  display: block;
  margin: bottom 20px;
  text-align: center;
}

video {
  width: 600px;
  height: 400px;
}

button {
  padding: 20px;
  font-size: 1.1rem;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--pri-color);

  /*pointer is added upon hover, for good UI*/
}

button:hover {
  scale: 0.9;
}

h1 {
  font-size: 2.5rem;
  font-style: bold;
  font-family: "montserrat", sans-serif;
  font-optical-sizing: auto;
  padding-top: 3rem;
}
