/*COLOUR CHOICES*/
/*main colour palette: Shades of navy and sky blue. Accent colour of sage green.
This colour scheme is a limited version of the colours used in the website.
- I wanted to tint the background a little instead of a plain white background,
for visual comfort and interest. */
/*
- All main title sections are a shade of navy.
- Paragraph font sage green, the accent colour, for visual interest.*/

body {
  background-color: aliceblue;
  font-size: 1.3rem;
  padding: 10px;
}

/*FONT CHOICES*/
/* I intentionally tried to make the fonts similar to the website,
as a nod to its design and also give cohesion to the overall aesthetic.
A rule of thumb for me is to never go beyond 2 fonts in a piece of design: a title and body font.*/
/* 
- TITLE FONT: Boldonse regular - is bold and slightly angular while having a strange organic 
quality to it, much like the title font for the website I researched. It is a free Google Font.
- BODY FONT: Arvo sans-serif - is similar to the body font of the website, and so
would not be so jarring when placed next to images of the website. It is also a free
available font from Google Fonts. */

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*NOTE ON CHARACTER COUNT + SIZING*/
/*- After trial and error, I felt the standard 72ch per line was still too visually
long. So 60ch per line was what I settled with after testing.
- 1.6rem felt the best visually with this font; not too big that it feels clunky,
but not so small that it's hard for readability.
- Padding of 50px felt necessary at the bottom, to adequately separate each written section visually.*/

p {
  color: rgba(109, 121, 11, 0.941);
  font-family: "Arvo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 1.3rem;
  text-align: left;
  text-wrap: square;
  margin: 0 auto;
  max-width: 60ch;
  padding: 10px;
  padding-bottom: 50px;
}

/* h1: subtitle font for name. 
Colour is intentionally less contrasted against background, so title font can stand out*/
h1 {
  color: rgba(49, 93, 175, 0.941);
  font-weight: bold;
  font-family: "Arvo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-size: 1.7rem;
  text-align: center;
  padding: 20px;
}

/* h2: Topmost title font, for "ASSIGNMENT"*/
h2 {
  color: rgba(24, 58, 123, 0.941);
  font-weight: bold;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 6rem;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  line-height: 4.5rem;
}

/* h3: Secondary Topmost title font, for "ONE". Made it a little lighter in colour
to add visual interest and reduce visual weight, especially when I'm overlapping the
"ONE" on top of the "ASSIGNMENT" word.*/
h3 {
  color: rgb(112, 167, 203);
  font-weight: bold;
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 4rem;
}

/* h4: Main title font used for all question headers*/
h4 {
  color: rgba(24, 58, 123, 0.941);
  font-weight: bold;
  font-family: "Arvo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 560;
  font-style: normal;
  font-size: 1.9rem;
  text-align: center;
  line-height: 2rem;
  padding: 10px;
  padding-block-start: 60px;
  max-width: 40ch;
  margin: 0 auto;
}

/*h5: font used for all question Numbers*/
h5 {
  font-weight: 550;
  font-family: "Arvo", sans-serif;
  padding: 10px;
  font-size: 6rem;
  text-align: right;
  color: rgba(24, 58, 123, 0.941);
}

/*SPECIAL INSTANCE COLOUR CLASSES*/
/*- "whiteout" and "lopacwhite" were the special instance colour change classes used on fonts,
especially on the navy background question blocks (Qn2, Qn9)*/
.whiteout {
  color: aliceblue;
}

.lopacwhite {
  color: rgba(240, 248, 255, 0.582);
}

/*ALTERNATIVE IMAGE FORMAT METHOD*/
/*This column & row section was a different method for creating sections I tried out.*/
.column {
  float: inline-start;
  width: 33.3%;
  padding: 2px;
  padding-top: 30px;
  padding-bottom: 100px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*li: Used in every unnumbered list instance*/
li {
  color: rgba(128, 142, 21, 0.941);
  font-family: "Arvo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3rem;
  text-align: left;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
  max-width: 60ch;
}

/*QN NUMBER FORMATTING*/
/* Having the numbers and text formatted this way (qn number big and bold, left. text question, centre align
with number, to right of number) felt better for signposting, and allowed me to use the flex function in code!*/

/*main container formatting each question header section*/
.box_qn {
  width: 1200px;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 300px;
  padding-block-start: 60px;
}

.qntitle {
  padding: 10px;
  text-align: left;
}

/*SIDE-BY-SIDE QN FORMATTING*/
/*I created a Flex box for side-by-side Qn Paras formatting, naming them as a class 
"sectionseg". I use this formatting several times through the website, in order to better visually
break up the paragraphs of answers,  so I decided flex boxes was the best way to do this, as
they apply in classes (can use multiple instances) rather than ids (unique instances only).*/
.sectionseg {
  max-width: 1400px;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}

/*I attempted to utilise the grid formatting for stacking the question container 
flex box on top of the answer paragraphs. You can see I did this for q4,5,6,7. 
I do recognise I can also do this as purely nested flexboxes, though!*/
#q4_container {
  min-width: 700px;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0.1fr 1fr;
}

#q4_para {
  grid-column: 1/3;
  grid-row: 2;
}

#q5_container {
  min-width: 500px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0.1fr 1fr;
}

#q5_para {
  grid-column: 1/3;
  grid-row: 2;
}

#q6_container {
  max-width: 700px;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0.1fr 1fr;
}

#q6_para {
  grid-column: 1/3;
  grid-row: 2;
}

#q7_container {
  max-width: 700px;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0.1fr 1fr;
}

#q7_para {
  grid-column: 1/3;
  grid-row: 2;
}

/* QN 2 MAIN GRID CONTAINER*/
#grid-container1 {
  background-color: rgba(11, 37, 86, 0.941);
  border: 2px solid rgba(204, 226, 236, 0.941);
  border-radius: 5px;
  min-height: 100px;
  padding: 20px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr;
}
/* first row fraction 0.2 to accomodate img under title section */

/* FROM QN 2 GRID:
 box1 is question/title section*/
#box1 {
  grid-column: 1/6;
  grid-row: 1/2;
  display: flex;
  padding: 30px;
  justify-content: flex-start;
  align-items: center;
}

/* FROM QN 2 GRID:
 box2,3,4 are text sections*/
#box2 {
  grid-column: 4/6;
  grid-row: 2;
  display: flex;
  gap: 10px;
  padding: 10px;
  padding-left: 40px;
  padding-bottom: 100px;
  justify-content: flex-start;
  align-items: center;
}

#box3 {
  grid-row: 3;
  grid-column: 1/3;
  color: white;
  display: flex;
  padding: 10px;
  padding-left: 40px;
  justify-content: flex-start;
  align-items: flex-start;
}

#box4 {
  grid-column: 4/6;
  grid-row: 4;
  color: white;
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: flex-end;
  align-items: flex-start;
}
/* FROM QN 2 GRID:
box5,6,7 are image sections*/
#box5 {
  grid-column: 1/4;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Arvo", sans-serif;
  color: rgba(240, 248, 255, 0.582);
  font-size: 1rem;
  padding-left: 30px;
  padding-bottom: 100px;
  justify-content: flex-end;
  align-items: flex-start;
}

#box6 {
  grid-column: 3/6;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Arvo", sans-serif;
  color: rgba(240, 248, 255, 0.582);
  font-size: 1rem;
  padding-left: 30px;
  justify-content: flex-start;
  align-items: flex-start;
}

#box7 {
  grid-column: 1/4;
  grid-row: 4;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Arvo", sans-serif;
  color: rgba(240, 248, 255, 0.582);
  font-size: 1rem;
  padding: 30px;
  justify-content: flex-start;
  align-items: space-evenly;
}

/*QN 9 MAIN GRID CONTAINER*/
#grid-container2 {
  background-color: rgba(11, 37, 86, 0.941);
  border: 2px solid rgba(204, 226, 236, 0.941);
  border-radius: 10px;
  min-height: 100px;
  padding: 20px;
  padding-bottom: 50px;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 0.7fr 1.5fr 1.3fr;
  grid-template-rows: 1fr 0.5fr 2fr;
}

#o9title {
  color: aliceblue;
}

/* FROM QN 9 GRID:
boxA: Contains "o9title", question number, 
and title question (text)*/
#boxA {
  grid-column: 1/4;
  grid-row: 1;
  display: flex;
}

/* FROM QN 9 GRID:
boxB: Contains initial answer to question 9, before elaboration.*/
#boxB {
  grid-column: 1/4;
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
}

/* FROM QN 9 GRID:
#imgstack is all 3 images as 1 box*/
#imgstack {
  grid-column: 1/4;
  grid-row: 3;
  max-width: 610px;
  max-height: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* FROM QN 9 GRID:
boxC,D,E are the subtitles 
for the associating images above it*/
#boxC {
  grid-column: 1;
  grid-row: 4;
  display: flex;
  font-size: 1rem;
  max-width: 25ch;
  padding: 20px;
}

#boxD {
  grid-column: 2;
  grid-row: 4;
  display: flex;
  font-size: 1rem;
  justify-content: flex-start;
  max-width: 40ch;
  padding: 20px;
}

#boxE {
  grid-column: 3;
  grid-row: 4;
  display: flex;
  font-size: 1rem;
  padding: 20px;
}

#endingnote {
  padding: 200px;
}
