/*change all non-text elements to px please
- All padding
- All line-height*/

body {
  background-color: aliceblue;
  font-size: 1.3rem;
  padding: 10px;
}

/* I intentionally tried to make the fonts similar to the website,
as a nod to its design and also give cohesion to the overall aesthetic.*/
.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}
/*main colour palette: Shades of Navy and a sage green. 
Accent colour of orange, but used sparingly, for interest.
This colour scheme echoes the colours used in the website. */
p {
  color: rgba(109, 121, 11, 0.941);
  font-family: "Arvo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 1.3rem;
  text-align: left;
  text-wrap: square;
  margin: 0 auto;
  max-width: 60ch;
  padding: 10px;
  padding-bottom: 50px;
}

h1 {
  color: rgba(49, 93, 175, 0.941);
  font-weight: bold;
  font-family: "Arvo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-size: 1.7rem;
  text-align: center;
  padding: 20px;
}
h2 {
  color: rgba(24, 58, 123, 0.941);
  font-weight: bold;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 6rem;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  line-height: 4.5rem;
}

#para-2 {
  text-align: left;
  padding: 20px;
}

h3 {
  color: rgb(112, 167, 203);
  font-weight: bold;
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 4rem;
}

h4 {
  color: rgba(24, 58, 123, 0.941);
  font-weight: bold;
  font-family: "Arvo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 560;
  font-style: normal;
  font-size: 1.9rem;
  text-align: center;
  line-height: 2rem;
  padding: 10px;
  padding-block-start: 60px;
  max-width: 40ch;
  margin: 0 auto;
}

h5 {
  font-weight: 550;
  font-family: "Arvo", sans-serif;
  padding: 10px;
  font-size: 6rem;
  text-align: right;
  color: rgba(24, 58, 123, 0.941);
}

.whiteout {
  color: aliceblue;
}

.lopacwhite {
  color: rgba(240, 248, 255, 0.582);
}

/*column & row section was a different method for creating sections I tried out.*/
.column {
  float: inline-start;
  width: 33.3%;
  padding: 2px;
  padding-top: 30px;
  padding-bottom: 100px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

li {
  color: rgba(128, 142, 21, 0.941);
  font-family: "Arvo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3rem;
  text-align: left;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
  max-width: 60ch;
}

/* having the numbers and text formatted this way felt better
for signposting, and allowed me to use the flex function in code!*/
.box_qn {
  width: 1200px;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 300px;
  padding-block-start: 60px;
}

.qntitle {
  padding: 10px;
  text-align: left;
}

.sectionseg {
  max-width: 1400px;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}

#q4_container {
  min-width: 700px;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0.1fr 1fr;
}

#q4_para {
  grid-column: 1/3;
  grid-row: 2;
}

#q5_container {
  min-width: 500px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0.1fr 1fr;
}

#q5_para {
  grid-column: 1/3;
  grid-row: 2;
}

#q6_container {
  max-width: 700px;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0.1fr 1fr;
}

#q6_para {
  grid-column: 1/3;
  grid-row: 2;
}

#q7_container {
  max-width: 700px;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0.1fr 1fr;
}

#q7_para {
  grid-column: 1/3;
  grid-row: 2;
}

#grid-container1 {
  background-color: rgba(11, 37, 86, 0.941);
  border: 2px solid rgba(204, 226, 236, 0.941);
  border-radius: 5px;
  min-height: 100px;
  padding: 20px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr;
}
/* first row fraction 0.2 to accomodate img under title section */

#box1 {
  grid-column: 1/6;
  grid-row: 1/2;
  display: flex;
  padding: 30px;
  justify-content: flex-start;
  align-items: center;
}

#box2 {
  grid-column: 4/6;
  grid-row: 2;
  display: flex;
  gap: 10px;
  padding: 10px;
  padding-left: 40px;
  padding-bottom: 100px;
  justify-content: flex-start;
  align-items: center;
}

#box3 {
  grid-row: 3;
  grid-column: 1/3;
  color: white;
  display: flex;
  padding: 10px;
  padding-left: 40px;
  justify-content: flex-start;
  align-items: flex-start;
}

#box4 {
  grid-column: 4/6;
  grid-row: 4;
  color: white;
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: flex-end;
  align-items: flex-start;
}

#box5 {
  grid-column: 1/4;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Arvo", sans-serif;
  color: rgba(240, 248, 255, 0.582);
  font-size: 1rem;
  padding-left: 30px;
  padding-bottom: 100px;
  justify-content: flex-end;
  align-items: flex-start;
}

#box6 {
  grid-column: 3/6;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Arvo", sans-serif;
  color: rgba(240, 248, 255, 0.582);
  font-size: 1rem;
  padding-left: 30px;
  justify-content: flex-start;
  align-items: flex-start;
}

#box7 {
  grid-column: 1/4;
  grid-row: 4;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Arvo", sans-serif;
  color: rgba(240, 248, 255, 0.582);
  font-size: 1rem;
  padding: 30px;
  justify-content: flex-start;
  align-items: space-evenly;
}

#grid-container2 {
  background-color: rgba(11, 37, 86, 0.941);
  border: 2px solid rgba(204, 226, 236, 0.941);
  border-radius: 10px;
  min-height: 100px;
  padding: 20px;
  padding-bottom: 50px;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 0.7fr 1.5fr 1.3fr;
  grid-template-rows: 1fr 0.5fr 2fr;
}

#o9title {
  color: aliceblue;
}

#boxA {
  grid-column: 1/4;
  grid-row: 1;
  display: flex;
}

#boxB {
  grid-column: 1/4;
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
}

#imgstack {
  grid-column: 1/4;
  grid-row: 3;
  max-width: 610px;
  max-height: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#boxC {
  grid-column: 1;
  grid-row: 4;
  display: flex;
  font-size: 1rem;
  max-width: 25ch;
  padding: 20px;
}

#boxD {
  grid-column: 2;
  grid-row: 4;
  display: flex;
  font-size: 1rem;
  justify-content: flex-start;
  max-width: 40ch;
  padding: 20px;
}

#boxE {
  grid-column: 3;
  grid-row: 4;
  display: flex;
  font-size: 1rem;
  padding: 20px;
}

#endingnote {
  padding: 200px;
}
