/*ROOT COLOURS*/
/*The primary-bg-color is to match the dark green colour of the bottom-most hill:
In the event the background image warps/more information is to be added, there will
not be an awkward white border below, but flow seamlessly across the screen. */
:root {
  --primary-bg-color: #263c1b;
  --text-color: #ffffff;
  --main-text-color: #fff;
}

/*FOUNDATION SETTING*/
/*the body section formats:
- The background image, set to cover the full extent of the screen
- The flow of information: text flows top to bottom, and row of "attractions" elements
sit below the text in a column formation */
body {
  background-color: var(--primary-bg-color);
  color: var(--main-text-color);
  border: 10px var(--primary-bg-color);
  background-image: url(a3_bg_2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
}

/*Subtitle font*/
h1 {
  font-family: "recursive", cursive;
  font-weight: 900;
  font-style: bold;
  font-size: 1rem;
}

/*Title font*/
h2 {
  font-family: "Caveat", cursive;
  font-weight: 900;
  font-style: bold;
  font-size: 5rem;
  line-height: 6rem;
}

p {
  font-family: "recursive";
  font-weight: 900;
  font-style: bold;
  font-size: 1rem;
  text-align: center;
  max-width: 30ch;
  padding-top: 30px;
}

/*ATTRACTIONS FLEXBOX*/
/*Houses flexboxes "ferris", "caro_full", "hammergame" and "sell"*/
.attractions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  margin: 0 auto;
  align-items: flex-end;
  max-width: 1200px;
  padding-bottom: 200px;
}

/*HEADER SECTION FLEXBOX*/
.box_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

/*--------------------------------------------------*/
/*ATTRACTIONS: Subset Attractions Flexboxes */
.ferris,
.sell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caro_full {
  margin: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hammergame {
  scale: 1.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*--------------------------------------------------*/
/*-------------*/
/*WITHIN ".ferris" SECTION:*/
/*"Hover" Interaction to make rotation animation speed up*/
#ring_3 {
  scale: 3;
  animation-name: loading;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: rotate 0.8s ease;
  width: 200px;
  height: 200px;
  z-index: 1;
}

/*upon hovering, the animation speeds up 
from 1 full revolution every 8s to 1 full revolution every 2s*/
#ring_3:hover {
  animation-duration: 2s;
}

/*adjust margin to accomodate transparent space on top of original design*/
#ring_feet_2 {
  scale: 3;
  margin-top: -155px;
}

/*to make ferris wheel do a full revolution*/
@keyframes loading {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

/*-------------*/

/*-------------*/
/*WITHIN ".caro_full" SECTION:*/
/*make carousel*/
/*"Hover" Interaction to make rotation animation speed up*/
/* we spin the carousel using the spin animation not the horses */
.carousel {
  position: relative;
  width: 600px;
  height: 200px;
  animation: spin 10s linear infinite;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 0.8;
}

/*pole is "absolute"-> bound to .carousel "relative"*/
.pole {
  width: 8px;
  background-color: rgb(255, 255, 255);
  height: 220px;
  position: absolute;
  top: 0;
}

/* using preserve-3d to ensure it rotates through z-index*/
.horse {
  width: 120px;
  height: 120px;
  position: absolute;
  transform-style: preserve-3d;
}

/* all horse bounce slightly up */
.horse img {
  animation: bounce 2s ease-in-out infinite;
}

/*base static sections of carousel*/
#base {
  scale: 0.25;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

/*KEYFRAMING WITHIN ".caro_full" SECTION:*/
/* so each horse is placed on its diameter using translateZ */
/* since we do not want all four horses at the same place */
/* we rotate their position so first is 12 o clock second at 3 clock (90deg) */
/* third at 6 0 clock (180deg) and fourth at 9 o clock (270deg) */
/* doing this will allow all four horses to rotate around the circle */
/* and create the merry go around illusion */
.horse1 {
  transform: rotateY(0deg) translateZ(-120px);
}
.horse2 {
  transform: rotateY(90deg) translateZ(-120px);
}
.horse3 {
  transform: rotateY(180deg) translateZ(-120px);
}
.horse4 {
  transform: rotateY(270deg) translateZ(-120px);
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.carousel:hover {
  animation-duration: 2s;
}
/*-------------*/

/*-------------*/
/*WITHIN ".sell" SECTION*/
#stalls {
  position: relative;
  width: 260px;
  height: 200px;
  position: absolute;
}

#lights {
  position: absolute;
  width: 250px;
  height: 200px;
  margin: 100px;
  z-index: 2;
}
#string {
  position: absolute;
  width: 250px;
  height: 200px;
  margin: 100px;
  z-index: 1;
}

#extra {
  position: absolute;
  width: 190px;
}

#string_extra {
  position: absolute;
  width: 170px;
  height: 200px;
  margin: 100px;
  z-index: 1;
}

#light_extra {
  position: absolute;
  width: 170px;
  height: 200px;
  margin: 100px;
  z-index: 2;
}

/*-------------*/
/*WITHIN ".hammergame" SECTION:*/
/*"Click" Interaction to activate "moveBell" animation*/
/*Hit the button to make the bell travel to the top of the hammergame post, then come down*/
button {
  font-family: "Caveat", cursive;
  width: 80px;
  height: 40px;
  grid-column: 2;
  grid-row: 1;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 10px;
  background-color: rgb(237, 221, 100);
  transition: background-color 0.2s ease, scale 0.5s ease, rotate 0.5s ease;
}

button:hover {
  background-color: rgb(253, 255, 159);
  scale: 1.1;
}

#mybutton {
  width: 80px;
  height: 40px;
  margin: -60px;
  z-index: 2;
}

/*hammer game frame*/
#hammer {
  width: 820px;
  height: 350px;
  transform-style: preserve-3d;
}

#bell {
  position: absolute;
  bottom: 0;
  width: 1194.5px;
  height: 50px;
  margin: 0 auto;
}

/*to make all elements line up vertically*/
.gamesetup {
  position: relative;
  display: flex;
  flex-direction: column;
}

.bellanimation {
  animation: moveBell 2s linear infinite;
}

@keyframes moveBell {
  0%,
  100% {
    transform: translateY(0);
  }
  11%,
  12% {
    transform: translateY(-280px);
  }
  10%,
  50% {
    transform: translateY(-276px);
  }
}
/*-------------*/
